# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/sonarlint/issuestore/1/e/1e43fa63aecd2127be034b3fb9d4caa172275714
